<h3>Hello! <%= current_user.username %></h3>
<p>
  Your Eth Address: <%= current_user.eth_address %><br>
  Your Eth Nonce: <%= current_user.eth_nonce %>
</p>
<p><%= link_to "Logout", logout_path %></p>
